/* contact-block */
.contact-block {
	padding: 11px 0;
	margin-bottom: 104px;

	@include media-breakpoint-down(md) {
		padding: 30px 0;
		margin-bottom: 30px;
	}

	p {
		margin-bottom: 1.5em;
	}

	.contact-inf {
		ul {
			list-style: none;
			padding: 12px 0;
			margin: 0;
			letter-spacing: 0.05em;

			@include media-breakpoint-only(md) {
				columns: 2 30px;
			}

			li {
				margin: 0 0 1.6666666667em;
			}

			strong {
				display: block;
				font-family: $questa;
				font-weight: 400;
				font-size: 1.75rem;
				letter-spacing: 0;
				margin-bottom: 0.5357142857em;
			}

			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					color: $dark_blue;
					text-decoration: none;
				}
			}
		}
	} 

	.contact-form {
		@include media-breakpoint-up(xl) {
			margin: 20px 0 0 5px;
		}
	}
}

.contact-form {
	border: 1px solid $gray-01;
	border-radius: 0.625rem;
	padding: 1.9375rem 2.1875rem;

	@include media-breakpoint-down(sm) {
		padding: $grid-gutter-width/2;
	}

	h3 {
		margin-bottom: 55px;
	}

	p {
		margin: 0;
	}

	.input-item {
		display: block;
		margin-bottom: 1.5em;

		span {
			display: block;
			max-width: 100%;
		}

		.text {
			font-size: 0.875rem;
			text-transform: uppercase;
			color: $gray-03;
			margin-bottom: 0.4285714286em;
			letter-spacing: 0.1em;
		}
	}

	.wpcf7-form-control:not([type="submit"]) {
		max-width: 100%;
		width: 100%;
		display: block;
		padding: 0.3333333333em 0.5555555556em;
		margin: 0;
		border-radius: 9px;
		background-color: $gray-02;
		border: none;
		box-shadow: none;
		font-size: 1.125rem;
		line-height: 1.5;
		height: 2.2222222222em;
	}

	.form-row {
		margin-left: -21px;
		margin-right: -21px;

		> [class*=col-] {
			padding-left: 21px;
			padding-right: 21px;
		}
	}

	textarea.wpcf7-form-control {
		min-height: 7.2222222222em;
		resize: vertical;
	}

	.btn-holder {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	[type="submit"] {
		padding: 0;
		border: none;
		border-radius: 0;
		margin-bottom: 5px;
		background-color: $dark_blue;
		color: $white;
		text-transform: uppercase;
		font-family: $haas-grotesk;
		font-size: 14px;
		font-weight: 500;
		min-width: 145px;
		height: 45px;
		max-width: 100%;
		letter-spacing: 0.1em;
	}
}

/* map-block */
.map-block {
	height: 690px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $gray-03;
	position: relative;

	>.container {
		position: relative;
		z-index: 10;
	}

	.address {
		background-color: rgba($white, 0.9);
		border-radius: 0.625rem;
		padding: 1.5rem 1.375rem;
		display: block;
		margin: 1.5rem 0;

		.ttl {
			display: block;
			font-family: $questa;
			font-size: 1.5rem;
			font-weight: 400;
			margin: 0 0 1.0833333333em;
			padding: 0 0 0.2916666667em;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
				width: 107px;
				background-color: rgba($dark_blue, 0.4);
			}
		}

		.text {
			display: block;
			padding-bottom: 0.7777777778em;
		}
	}

	.map {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	@include media-breakpoint-down(md) {
		height: auto;
		background: none;

		.address {
			padding: 0;
		}

		.map {
			position: relative;
			height: 400px;
		}
	}
}